.header{
    display: inline-b;
    width: 100%;
    font-family: "luckyDream";
    font-weight: normal;
    font-size: normal;
   color: rgb(0, 0, 0);

}



body {
    background-image: url("free-birds-1920x1080.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

/*navigation ul is the actual list box*/
.navigation ul{
    list-style-type: none;
    background-color: rgb(49, 49, 49);
    padding: 0px;
    margin: 0px;
    text-align: center;
    font-family: "luckyDream";
    font-weight: normal;
    font-size: normal;
}

/* navigation li controls the list item behavior*/
.navigation li{
    float: center;
    display: inline-block;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* navigation a is the text itself literally the a anchor in the navigation element*/
.navigation a{
    text-decoration: none;
    color: #eca1a6;
}

.logo{
    height: 50px;
    width: 50px;
    padding-left: 50px;
    padding-top: 10px;

}

/* aside content is for the sidebar.*/
aside{
    float: right;
    height: 300px;
    padding-top: 10px;
    width: 25%;

}

.sidebarImages img{
    padding-left: 10px;
    object-fit: contain;
    height: 100px;
    width: 100px;
}

main{
    padding-right: 150px;
    width: 50%;
    float: left;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:rgb(0, 0, 0)
}

footer{
    width: 100%;
    clear: both;
}

@font-face {
    font-family: luckyDream;
    src: url("Lucky Dream Demo.ttf");
}